services:
  postgres:
    image: postgres:17
    environment:
      - POSTGRES_DB=payroll
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data

  api:
    build: .
    entrypoint: python -m hema.main
    environment:
      - ROOT=/app
      - DB_URI=postgresql+asyncpg://postgres:postgres@postgres:5432/postgres
    ports:
      - 8000:8000
    depends_on:
      - postgres
  
  frontend:
    build: ./frontend
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    ports:
      - 3000:3000
    depends_on:
      - api

